
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">A blog for users to post about their interests, lifestyle, and much more!</p>
      <hr class="my-4">
      <p>Start your journey today.</p>
      <a class="btn btn-dark btn-lg" href="#" role="button">Get blogging</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Alpha Blog 2020</small>
  </div>
</footer>