
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">A blog for users to post about their interests, lifestyle, and much more!</p>
    <hr class="my-4">
    <p>Start your journey today.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-dark btn-lg" %>
  </div>
</div>

